.myPhoto{
    display: block;
}

body{

    margin-left: 800px;
    margin-right: 800px;
    background-color: aquamarine;
}

.firstBut{
    margin-top: 50px;
    font-size: 100px;
}

h1{
   font-size: 100px;
 
}